body{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}


.profileName{
color:rgb(207, 135, 135);
font-size: calc(10px + 2vmin);
font-weight: bold;

padding-bottom: 5px;
}




